<section class="container text-center ">
    <div class="text-left">
        <p><a href="/pet/<%= pet.id %> ">back</a></p>
    </div>
    <div class="row text-center bg-light align-items-center justify-content-center">
        <div class="col col-sm-12 col-md-8 col-lg-6">
            <div class="mb-4">
                <h3>
                    <%= pet.petName %>
                </h3>
                <h5>Insulin Injections History</h5>
            </div>
            <% pet.shots.forEach(shot=> { %>
                <article class="col-sm d-flex justify-content-around align-items-center">
                    <div class="mb-3">
                        <p class="m-0">
                            <%= shot.injectionSite %>
                        </p>
                        <img src="/img/shot_<%= shot.injectionSite %>.svg" width="100px" alt="icon for injection on <%= shot.injectionSite %> ">
                    </div>
                    <p>
                        <%= shot.date.toLocaleString().split(',')[0] %>
                    </p>
                    <p>
                        <%= shot.time %>
                    </p>
                    <p>
                        <%= shot.dosage %>
                    </p>
                    <form action="/pet/<%= pet._id %>/shots/<%= shot._id %>?_method=DELETE" method="POST">
                        <input class="btn btn-sm btn-danger" type="submit" value="DELETE">
                    </form>
                </article>
                <% }) %>
        </div>
    </div>
</section>