<main class="app-main">
    <div class="col-sm-12 col-md-10 content mt-2 mb-4">
        <div class="d-flex justify-content-between mt-3 px-2 w-100">
            <div><a href="/pet/<%= pet.id %>" class="btn btn-sm btn-outline-light"><i
                        class="fas fa-chevron-circle-left"></i></a></div>
            <div><a class="btn btn-sm btn-outline-light" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
        <div class="text-center col-sm-12 mb-3">
            <h1 class="text-white">
                <%= pet.petName %>
                    </h3>
                    <h5>Insulin Injections History</h5>
        </div>
        <% pet.shots.forEach(shot=> { %>
            <article class="col-sm-10 d-flex justify-content-around align-items-center bg-white round-bdr-1 mb-3 shadow">
                <div class="mb-3 text-center">
                    <p class="mt-2 mb-0 title">
                        <%= shot.injectionSite %>
                    </p>
                    <!-- <a href="/pet/<%=// pet.id %>/shots/<%= //shot.id %>/edit"> -->
                    <img src="/img/shot_<%= shot.injectionSite %>.svg" width="60px" alt="icon for injection on <%= shot.injectionSite %> ">
                    <!-- </a> -->
                    </div>
                <div>
                    <%= shot.date.toISOString().split('T')[0] %>
                </div>
                <div>
                    <%= shot.time %>
                </div>
                <div>
                    <%= shot.dosage %>
                </div>
                <form action="/pet/<%= pet._id %>/shots/<%= shot._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-sm bg-base text-white" aria-label="Delete"><i
                            class="fas fa-trash-alt"></i></button>
                    </form>
                    </article>
                    <% }) %>

    </div>
</main>