<main class="app-main bg-base">
    <div class="content mt-3">
        <div class="m-3">
            <div class="text-center my-5 text-white">
                <h3>Edit Your Pet Profile</h3>
            </div>
            <form action="/pet/<%= pet.id %>?_method=PUT " method="POST">
                <fieldset class="form-group d-flex mb-4">
                    <span class="input-group-text" id="petName">Pet Name:</span>
                    <input class="form-control" type="text" name="petName" id="petName" value="<%= pet.petName %> ">
                </fieldset>
                <fieldset class="form-group d-flex mb-4">
                    <span class="input-group-text" id="breed">Breed:</span>
                    <input class="form-control" type="text" name="breed" id="breed" value="<%= pet.breed %>">
                </fieldset>
                <fieldset class="form-group d-flex mb-4">
                    <span class="input-group-text" id="color">Color:</span>
                    <input class="form-control" type="text" name="color" id="color" value="<%= pet.color%>">
                </fieldset>
                <fieldset class="form-group d-flex mb-4">
                    <span class="input-group-text" id="age">Date of Birth:</span>
                    <input class="form-control" type="date" name="age" id="age" value="<%= pet.age.toISOString().split('T')[0] %>">
                </fieldset>
            <div class="d-flex justify-content-center mt-5">
                <input class="btn btn-base btn-white shadow" type="submit" value="Edit My Pet">
            </div>
            </form>
        </div>
    </div>
</main>
<div class="wave">
    <svg viewBox="0 0 1024 216.59">
        <path d="M1024,.2H0V208.49c115.11,0,177.87-54.1,311.56-54.1s222.63,33.9,390.26,33.9S1024,98.19,1024,98.19Z"
            fill="#809cef" opacity="0.2" style="isolation:isolate" />
        <path d="M0-.2H1024V180.09c-115.29,0-177.87-54-311.56-54s-191.34,45.2-359,45.2S0,69.89,0,69.89Z" fill="#809cef"
            opacity="0.5" style="isolation:isolate" />
        <path
            d="M1024-.2H0V161.39c115.11,0,177.87-54.1,311.56-54.1s222.63,33.9,390.26,33.9c189.44,0,322.18-102.8,322.18-102.8Z"
            fill="#809cef" />
    </svg>
</div>