<main class="app-main mb-5">
    <div class="col-sm 12 text-right mt-3">
        <a class="btn btn-sm btn-outline-light" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
        </div>
    <div class="col-sm-12 content text-center">
        <h1 class="text-white my-4">
            Manage Your Pets
        </h1>
        <div class="container mb-5">
            <div class="row justify-content-center">
                <% pets.forEach(pet=> { %>
                    <div class="col-sm-5 m-3 p-0">
                        <div class="pet-card py-3 shadow">
                            <div class="img-box pt-3">
                                <a href="/pet/<%= pet._id %> "><img src="<%= pet.photo.url %> " class="img-fluid"
                                        alt="photo of <%= pet.petName %>"></a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title mt-2"><a class="txt-base" href="/pet/<%= pet._id %> ">
                                        <%= pet.petName %>
                                    </a></h5>
                                    <a class="btn btn-base mb-1" class="txt-base" href="/pet/<%= pet._id %> ">
                                        Begin Tracking
                                    </a>
                                    <p class="card-text"><span class="title">Breed:</span>
                                        <%= pet.breed %> <br>
                                            <span class="title">Color:</span>
                                            <%= pet.color %> <br>
                                                <span class="title">DOB:</span>
                                                <%= pet.age.toISOString().split('T')[0] %>
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a class="btn btn-sm bg-base text-white" aria-labelledby="Edit Pet Profile" href="/pet/<%= pet._id %>/edit"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Pet Profile"><i
                                                class="fas fa-pencil-alt"></i></a>
                                    
                                        <form action='/pet/<%= pet.id %>?_method=DELETE' method="POST">
                                        <button type="submit" class="btn btn-sm bg-base text-white" aria-labelledby="Delete Pet Profile"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Pet Profile"><i
                                                class="fas fa-trash-alt"></i></button>
                                        </form>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        <% }) %>
                                        
                                            </div>
                                            </div>
        </div>
        <a href="/pet/new" class="btn btn-base btn-white shadow mb-4"><i class="fas fa-plus-square"></i>
            Add
            Pet</a>
    </section>