<main class="app-main main-screen">
    <div class="col-sm-12 content text-center">
        <h1 class="text-white">
            Manage Your Pets
        </h1>
        <div class="container">
            <div class="row justify-content-center">
                <% pets.forEach(pet=> { %>
                    <div class="col-sm-5 m-3 p-0">
                        <div class="pet-card py-3 shadow">
                            <div class="img-box pt-3">
                                <a href="/pet/<%= pet._id %> "><img src="<%= pet.squarePhoto %> " class="img-fluid" alt="photo of <%= pet.petName %>"></a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title mt-2"><a class="txt-base" href="/pet/<%= pet._id %> ">
                                        <%= pet.petName %>
                                    </a></h5>
                                <a class="btn btn-base mb-1" class="txt-base" href="/pet/<%= pet._id %> ">
                                    Begin Tracking
                                </a>
                                <p class="card-text"><span class="title">Breed:</span>
                                    <%= pet.breed %> <br>
                                        <span class="title">Color:</span>
                                        <%= pet.color %> <br>
                                            <span class="title">DOB:</span>
                                            <%= moment(pet.age.toISOString().split('T')[0]).format('MMMM D, YYYY') %>
                                </p>
                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-sm bg-base text-white" aria-labelledby="Edit Pet Profile" href="/pet/<%= pet._id %>/edit" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Pet Profile"><i class="fas fa-pencil-alt"></i></a>

                                    <form action='/pet/<%= pet.id %>?_method=DELETE' method="POST">
                                        <button type="submit" class="btn btn-sm bg-base text-white" aria-labelledby="Delete Pet Profile" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Pet Profile"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>

            </div>
        </div>
    </div>
    </section>
</main>
<!-- Navigation -->
<nav class="navbar">
    <div>
        <a href="/pet" class="navbar-link"><i class="fa-solid fa-paw"></i>
            My Pets</a>
    </div>
    <div>
        <a href="/pet/new" class="navbar-link"><i class="fa-solid fa-square-plus"></i>
            Add Pet</a>
    </div>
    <div>
        <a class="navbar-link" href="/logout"><i class="fas fa-sign-out-alt"></i>
            Logout</a>
    </div>
</nav>