<main class="app-main main-screen">
   <div class="col-sm-12 content justify-content-start">
      <h1 class="text-white">
         <%= pet.petName %>
      </h1>
      <p class="h6 text-center mb-3">
         <%= pet.breed %>
            <%= pet.kind %>, <%= petAge %><br>
                  Born <%= moment(pet.age).utc().format('MMMM D, YYYY') %>
      </p>
      <div class="col-sm-6">
         <div class="bg-white rounded">
            <img class="img-fluid rounded p-3 shadow" src="<%= pet.squarePhoto %> " alt="photo of <%= pet.petName %> ">
         </div>
      </div>
      <% if (!!latestShot) { %>
         <article class="shot-card bg-white round-bdr-1 mt-5 shadow p-1">
            <span class="shot-card-title">Previous Shot</span>
            <div class="text-center mb-1">
               <p class="mt-2 mb-0 title">
                  <%= latestShot.injectionSite %>
               </p>
               <img src="/img/shot_<%= latestShot.injectionSite %>.svg" width="60px" alt="icon for injection on <%= latestShot.injectionSite %> ">
            </div>
            <div>
               <%= moment(latestShot.date).utc().format('MM/DD/YY') %>
            </div>
            <div>
               <%= moment(latestShot.time, "H:mm" ).format("h:mma") %>
            </div>
            <div>
               <%= latestShot.dosage %>
            </div>
         </article>
         <% } else { %>
            <article class="shot-card bg-white round-bdr-1 mt-3 shadow">
               <p class="mt-1 mb-0 title">
                  No Previous Injection History Available
               </p>
            </article>
            <% } %>

   </div>
</main>
<!-- navigation -->
<nav class="navbar">
   <div>
      <a href="/pet" class="navbar-link"><i class="fa-solid fa-paw"></i>
         My Pets</a>
   </div>
   <div>
      <a href="/pet/new" class="navbar-link"><i class="fa-solid fa-square-plus"></i>
         Add Pet</a>
   </div>
   <div class="main-icon-container">
      <div class="main-icon shadow" data-toggle="tooltip" data-placement="top" title="Track Insulin">
         <a href="<%= pet._id %>/shots/new" class="navbar-link"><i class="fa-solid fa-syringe"></i></a>
      </div>
   </div>
   <div>
      <a href="<%= pet._id %>/shots/show" class="navbar-link">
         <i class="fa-solid fa-clock-rotate-left"></i>
         History</a>
   </div>
   <div>
      <a class="navbar-link" href="/logout"><i class="fas fa-sign-out-alt"></i>
         Logout</a>
   </div>
</nav>