<main class="app-main mb-5">
   <div class="col-sm 12 text-left mt-3">
      <div><a href="/pet" class="btn btn-sm btn-outline-light">All Pets</a></div>
   </div>
      <div class="col-sm-12 content">
         <h1 class="text-white mt-3">
            <%= pet.petName %>
         </h1>
         <p class="h6 text-center mb-5">
            <%= pet.breed %>
               <%= pet.kind %>, <%= petAge %> years old <br>
                     Born on <%= pet.age.toLocaleString().split(',')[0] %>
         </p>
         <div class="col-sm-7 bg-white shadow rounded mx-auto d-block">
            <div class="p-3">
               <img class="img-fluid" src="../img/dog-maltese.png" alt="">
            </div>
         </div>
         <div class="d-md-inline-flex justify-content-md-center d-sm-flex justify-content-sm-center m-5 pb-4">
            <a class="btn btn-base shadow mx-1 my-3" href="<%= pet._id %>/shots/new">Track Insulin</a>
            <a class="btn btn-base btn-white shadow mx-1 my-3" href="<%= pet._id %>/shots/show">View History</a>
         </div>
         </div>
         </main>

